<script type="text/javascript">
    //<![CDATA[
    
    blastFormPrefix = '#{{ form.get('name') }}_';
    
    function updateDbList() {
        loaderId = 'img.dbpath_loader';
        jQuery(loaderId).show();
        
        {% if db_provider_name == 'biomaj' %}
        
            reloadBiomajDbList(blastFormPrefix+'dbPath', guessBiomajDbType(), '{{ db_provider.getFormat() }}', 'false', 'true');
            
        {% elseif db_provider_name == 'list' or db_provider_name == 'callback' %}
        
            loadStaticDbList(blastFormPrefix+'dbPath');
            
        {% else %}
        
            alert('Unsupported blast databank provider ({{db_provider_name}})');
            
        {% endif %}
        
        jQuery(loaderId).hide();
        refreshControls();
    }

    {% if db_provider_name == 'biomaj' %}
        /**
         * Guess the biomaj db type corresponding to the selected program and bankType
         */
        function guessBiomajDbType() {
        
            program = jQuery(blastFormPrefix+'program').val();
            if ((program == "blastp") || (program == "blastx"))
              bankType = jQuery(blastFormPrefix+'bankTypeProt').val();
            else
              bankType = jQuery(blastFormPrefix+'bankTypeNuc').val();

            types = new Array();
            if ((program == 'blastp') || (program == 'blastx')) { // proteic blast
                {% for type in db_provider.getProteicType() %}
                    types.push('{{ type }}');
                {% endfor %}
                return types;
            }
            else { // nucleic blast
                {% for type in db_provider.getNucleicType() %}
                    types.push('{{ type }}');
                {% endfor %}
                return types;
            }
        }
    {% elseif db_provider_name == 'list' or db_provider_name == 'callback' %}
        /**
         * Update the static db list corresponding to the selected program and bankType
         */
        function loadStaticDbList(idField) {
            
            program = jQuery(blastFormPrefix+'program').val();
            if ((program == "blastp") || (program == "blastx"))
              bankType = jQuery(blastFormPrefix+'bankTypeProt').val();
            else
              bankType = jQuery(blastFormPrefix+'bankTypeNuc').val();

            newList = '';
            if ((program == 'blastp') || (program == 'blastx')) {
                {% for path, label in db_provider.getProteicDatabanks() %}
                    newList += "<option value=\"{{ path }}\">{{ label }}</option>";
                {% endfor %}
            }
            else {
                {% for path, label in db_provider.getNucleicDatabanks() %}
                        newList += "<option value=\"{{ path }}\">{{ label }}</option>";
                {% endfor %}
            }
            

            if (newList.replace(/\r|\n|\r\n/g, '') != jQuery(idField).html().replace(/\r|\n|\r\n| selected=\"selected\"/g, '')) {
                // Only update if the list is different
                selectedPath = jQuery(idField).val();
                newList = newList.replace("value=\""+selectedPath+"\"", "value=\""+selectedPath+"\" selected=\"selected\"");
                jQuery(idField).html(newList);
            }
        }
    {% endif %}
    
    jQuery(document).ready(blastLoaded());

    //]]>
</script>

